.metricImage {
  background-image: url("/images/metric.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.imperialImage {
  background-image: url("/images/Donald-Trump.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
body {
    color: red;
    font-size: 250%;
  }
