.metricImage {
  background-image: url("https://caressahh.github.io/BMI_Challenge/images/metric.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.imperialImage {
  background-image: url("https://caressahh.github.io/BMI_Challenge/images/Donald-Trump.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
body {
    color: red;
    font-size: 250%;
  }
